
// HERITAGES
%btn {
  margin-top: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 5px 20px;
}

// COLORS
$bg_col: #08090a;
$bg_col2: #fafafa;